<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0.0</string>
	<key>CFBundleVersion</key>
	<integer>2</integer>
	<key>InstallerPackage</key>
	<string>http://www.pyc.com.cn/programfile/PBBReaderForOSX.pkg</string>
	<key>UpdateContent</key>
	<string>发布版本1.0.0.1</string>
</dict>
</plist>
