<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MakeInstaller.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PBB Reader.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PBBLogSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>PBBLogSDKForiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>PBBLogSDKTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>PBBReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PBBReaderForOSXRelese.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PBBReaderPDF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Toasty.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>updateMupdf copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>updateMupdf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>143E37F71D3F1809004B0A4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14543EA51DD45AB500352C4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14543EB31DD45AB600352C4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14543EBE1DD45AB600352C4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>146872351D9A596100460B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>146C1CF11DD984DC00041D59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>148B6D691DE68F94005B5DFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>148B6D711DE68F95005B5DFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>148B6D8E1DE69166005B5DFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>148B6D961DE69166005B5DFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14A5058D1DAA2656008BF666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14B64D261DFFED81008C828F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14B6568C1E4D798300CC45E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14BEC42E1E305BB600E016DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84AEDA3F1DC5FF02001E8116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B6794C1DE72A4300496634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
